nav {
}

ul {
  list-style: none;
  padding: ;
}

nav ul li {
  margin: 0 10px;
}

.banner {
  background-image: linear-gradient(90deg, blue, violet);
  color: white;
}

.dummyImg {
  width: 100%;
  height: 180px;
  background-color: rgb(135, 125, 125);
}

.card {
  width: 240px;
}

.card p {
  font-size: 14px;
}

/* .card button {
  w
} */

.box {
  padding: 0;
}

.button {
  margin-top: auto;
}

footer a {
}
